.main-view-component {
  display: block;
}

.day-data-component {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.natural-phenomenon {
  text-align: center;
}

img {
  width: 75px;
  height: 75px;
}

.data {
  text-align: center;
}

.temperatures {
  display: block;
}

.minimal-temperature {
  color: blue;
  font-size: 24px;
  margin-left: 40px;
  float: left;
}

.maximal-temperature {
  color: red;
  font-size: 24px;
  float: right;
  margin-right: 40px;
}
